.site-header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
  font-size: 18px;
}

.site-header__nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
  text-underline-offset: 3px;
}

.site-header__nav-item:not(:has(.site-header__nav-link--current)) {
  list-style: circle;
}

.site-header__nav-link--current {
  text-decoration: none;
}

.site-header__brand-image {
  display: block;
  width: 148px;
  height: 105px;
}

.site-header__contacts {
  max-width: 235px;
  font-style: normal;
  line-height: 1.24;
  margin-left: 184px;
  text-underline-offset: 3px;
}

.site-footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 50px 82px 50px;
  font-size: 18px;
}

.site-footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 264px;
  font-style: normal;
  text-underline-offset: 3px;
}

.site-footer__nav-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
  padding-right: 20px;
  gap: 1px;
}

.site-footer__nav-link--current {
  text-decoration: none;
}

.site-footer__social-list {
  display: flex;
  align-items: center;
  gap: 48px;
  list-style: none;
}

.hero-section {
  display: flex;
  flex-direction: column;
  position: relative;
  background: url('../images/cover.jpg') center / cover no-repeat;
  padding: 165px 50px 50px 50px;
  color: white;
  gap: 106px;
}

.dark-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.hero-section__heading {
  font-size: 100px;
  font-weight: bold;
  line-height: 1.15;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.hero-section__heading-line {
  display: block;
  margin-bottom: 20px;
  letter-spacing: 0.3em;
}

.hero-section__heading-line:first-child {
  text-align: left;
}

.hero-section__heading-line:nth-child(2) {
  margin-left: 330px;
}

.hero-section__heading-line:last-child {
  margin-left: 613px;
  margin-bottom: 0;
}

.hero-section__info {
  position: relative;
  display: flex;
  align-items: center;
  gap: 107px;
  z-index: 2;
}

.hero-section__subtitle {
  font-size: 22px;
  line-height: 1.2;
  word-spacing: 18px;
  text-transform: uppercase;
}

.hero-section__cta-button {
  color: inherit;
  background-color: transparent;
  border: 1px solid white;
  padding: 12px 32px;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.auction-items {
  padding-block: 180px 120px;
  padding-inline: 24px;
}

.auction-items__title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 27px 40px;
}

.auction-items__grid {
  display: flex;
  flex-wrap: wrap;
  color: white;
  gap: 25px;
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
}

.auction-items__grid-cell {
  width: 334px;
  min-height: 596px;
  flex-grow: 1;
}

.item-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.auction-item {
  position: relative;
  height: 100%;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.auction-item--film {
  background-image: url('../images/card-lot-01.jpg');
}

.auction-item--book {
  background-image: url('../images/card-lot-02.jpg');
}

.auction-item--art {
  background-image: url('../images/card-lot-03.jpg');
}

.auction-item__name {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
  position: relative;
  z-index: 2;
}

.auction-item__description {
  font-size: 20px;
  line-height: 1.2;
  position: relative;
  z-index: 2;
  margin-top: 30px;
}

.auction-items__more-link {
  font-size: 20px;
  text-decoration: underline;
  padding: 30px 0 0 32px;
  color: inherit;
  text-underline-offset: 5px;
}

.about-section {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 72px;
  padding: 33px 24px 180px 71px;
}

.about-section__emblem {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.about-section__emblem-image {
  width: 148px;
  height: 114px;
}

.about-section__heading {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 101px 0 0 0;
}

.about-section__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  margin-top: 100px;
}